<div>
    <link rel="stylesheet" href="/css/newProduct.css">
   <!-- Navigation Bar Start-->
   <nav class="navbar fade-in blur">
    <div class="navbar-logo">
        <a ng-href="/">
            <img src="/img/brand-logo.png" id="navbar-logo">    
        </a>
    </div>
    <div class="navbar-menu">
        <div class="close-button" id="close-button">&times;</div>
        <ul>
            <li><h3>Administration</h3></a></li>
        </ul>
        <!-- Mobile Icons -->
        <div class="mobile-icons">
            <a><div class="icon-container"><a ng-href="/" id="home-button"><img class="icon" src="/img/home.png"></div></a> </a>
        </div>
    </div>        
    <!-- Destkop Icons -->
    <div class="icons">
        <a><div class="icon-container"><a ng-href="/" id="home-button"><img class="icon" src="/img/home.png"></div></a> </a>
    </div>
    <div class="burger-menu" id="burger-menu">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
</nav>
<!-- Navigation Bar End -->

    <div class="container fade-in blur">
      <div class="left-column">
        <img
          alt="Ballyrina Flat In Black Leather Image 1"
          id="image1"
          height="400"
          src="../../assets/ws11.webp"
          width="600"
        />
        <img
          alt="Ballyrina Flat In Black Leather Image 2"
          id="image2"
          height="400"
          src="../../assets/ws11h.webp"
          width="600"
        />
      </div>
      <div class="right-column">
        <h1>Ballyrina Flat In Black Leather</h1>
        <div class="price">Rp 14.480.000,00 IDR</div>
        <p>
          In soft calfskin, this ballerina flat draws inspiration from Mary Janes to combine elegance and versatility. The leather upper is enriched by a gold-tone metal Emblem buckle, a signifier which subtly references Bally heritage.

          Gold-tone metal Emblem buckle
          Leather lining
          Cemented construction
          Leather sole
          Each pair of Ballyrina flats is luxuriously presented with a specially designed box, satin dust bag, and elegant sticker, all featuring a contemporary gold-tone version of the original 1940s Ballyrina logo.
        </p>
        <button id="add-to-cart-button" class="add-to-cart">Add Product</button>
      </div>
    </div>
    
    <!-- Footer Start -->
    <footer class="footer fade-in blur">
        <div class="footer-content">
            <div class="logo">
                <img src="/img/brand-logo.png"/>
            </div>
        </div>
        <div class="copyright">
            Copyright &copy; 2024 SuShoes Co.
        </div>
    </footer>    
    <!-- Footer End -->
</div>