<div>
    <link rel="stylesheet" href="/css/product.css">
       <!-- Navigation Bar Start-->
       <nav class="navbar fade-in blur">
        <div class="navbar-logo">
            <a ng-if="!accountInfo" ng-href="/">
                <img src="/img/brand-logo.png" id="navbar-logo">    
            </a>
            <a ng-if="accountInfo" ng-href="/{{ accountInfo.id }}">
                <img src="/img/brand-logo.png" id="navbar-logo">    
            </a>
        </div>
        <div class="navbar-menu">
            <div class="close-button" id="close-button">&times;</div>
            <ul>
                <li>
                    <a ng-if="!accountInfo" ng-href="/products"><h3>Products</h3></a>
                    <a ng-if="accountInfo" ng-href="/products/{{ accountInfo.id }}"><h3>Products</h3></a> 
                </li>
                <li><a href="Products/indexmale.html"><h3>Male</h3></a></li>
                <li><a href="Products/indexfemale.html"><h3>Female</h3></a></li>
                <li>
                    <a ng-if="!accountInfo" ng-href="/contact"><h3>Contact</h3></a>
                    <a ng-if="accountInfo" ng-href="/contact/{{ accountInfo.id }}"><h3>Contact</h3></a> 
                </li>
            </ul>
            <!-- Mobile Icons -->
            <div class="mobile-icons">
                <a href=""><div class="icon-container"><a id="account-button-mobile"><img class="icon" src="/img/account.png"></div></a></a>
                <a href=""><div class="icon-container"><a id="cart-button-mobile"><img class="icon" src="/img/cart.png"></div></a></a>
            </div>
        </div>        
        <!-- Destkop Icons -->
        <div class="icons">
            <a href=""><div class="icon-container"><a id="account-button"><img class="icon" src="/img/account.png"></div></a> </a>
            <a href=""><div class="icon-container"><a id="cart-button"><img class="icon" src="/img/cart.png"></div></a> </a>
        </div>
        <div class="burger-menu" id="burger-menu">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </nav>
    <!-- Navigation Bar End -->

        <!-- Sidebars Start -->
        <div class="sidebar-cart" id="sidebar-cart">
            <div class="sidebar-container">
                <button class="close-sidebar" id="close-cart">&times;</button> 
                <h3>SHOPPING CART</h3>
                <hr class="divider">
                <ul class="cart-items">
                    <!-- Will be filled using javascript -->
                </ul>
                <h3 class="cart-total"></h3> 
                <!-- Will be set using javascript -->    
            </div>
        </div>
    
        <div class="sidebar-account" id="sidebar-account">
            <div class="sidebar-container">
                <button class="close-sidebar" id="close-account">&times;</button> 
                <h3 ng-if="showLoginForm">LOGIN</h3>
                <h3 ng-if="!showLoginForm">YOUR ACCOUNT</h3>
                <hr class="divider">
                    <ul>
                        <form id="account-form" ng-submit="login()" ng-if="showLoginForm">
                        <li>
                            <input type="email" id="email-account" name="email-account" placeholder="Email" ng-model="login.email" required>
                        </li>
                        <li>
                            <input type="password" id="password" name="password" placeholder="Password" ng-model="login.password" required>
                        </li>
    
                        <li>
                            <button type="submit" id="login">Login</button>
                        </li>
                        </form>
                        <!-- When user has login -->
                        <div ng-if="!showLoginForm">
                            <div ng-if="accountInfo">
                                <!-- Profile section with icon and name -->
                                <div class="profile-info">
                                    <div class="account-icon-container">
                                        <img src="/img/account.png" alt="Account Icon" class="account-icon" />
                                    </div>
                                    <div class="name">
                                        <p><strong>{{ accountInfo.first_name }} {{ accountInfo.last_name }}</strong></p>
                                        <p><em>{{ accountInfo.email }}</em></p>
                                    </div>
                                </div>
    
                                <!-- Buttons -->
                                <div class="account-buttons">
                                    <a ng-href="/settings/{{ accountInfo.id }}" class="account-button">
                                        <i class="bi bi-gear"></i>
                                        <h3>Settings ></h3>
                                    </a>
                                    <a ng-href="/settings/{{ accountInfo.id }}" class="account-button">
                                        <i class="bi bi-wallet2"></i>
                                        <h3>Transactions ></h3>
                                    </a>   
                                </div>
                                <div class="logout">
                                    <a ng-href="/product/{{ product.id }}" class="logout-button">
                                        <i class="bi bi-box-arrow-right"></i>
                                        <small>Logout</small>
                                    </a>
                                </div>
                                <hr class="divider">
                            </div>
                            <!-- Loading message when info not loaded yet -->
                            <div ng-if="!accountInfo">
                                <p>{{ errorMessage || 'Loading account information...' }}</p>
                            </div>
                        </div>
    
                        <li>
                            <!-- Error and Success Messages -->
                            <div ng-if="errorMessage" class="error-message">
                                {{ errorMessage }}
                            </div>
                            <div ng-if="successMessage" class="success-message">
                                {{ successMessage }}
                            </div>
                        </li>
                        <li>
                            <a href="#" id="forgot-button">Forgot your password?</a>
                        </li>
                        <li ng-if="showLoginForm">
                            <a ng-href="/register" id="create-account">New customer? Create a new account</a>
                        </li>
                        <li ng-if="showLoginForm">
                            <a ng-href="/adminLogin" id="admin-login">Admin Login</a>
                        </li>
                    </ul>
            </div>
        </div>
    
        <div class="sidebar-forgot" id="sidebar-forgot">
            <div class="sidebar-container">
                <button class="close-sidebar" id="close-forgot">&times;</button> 
                <h3>RESET PASSWORD</h3>
                <hr class="divider">
                <p>Lost your password? Please enter your email address. You will receive a link to create a new password via email.</p>
                <ul>
                    <li>
                        <input type="email" id="email-account" name="email-account" placeholder="Email" required>
                    </li>
                    <li>
                        <button type="submit" form="account-form" id="reset">Reset Password</button>
                    </li>
                </ul>    
            </div>
        </div>
      <!-- Sidebars End -->

    <div class="container fade-in blur">
      <div class="left-column">
        <img
          alt="Ballyrina Flat In Black Leather Image 1"
          id="image1"
          height="400"
          ng-src="{{ product.img1 }}" 
          width="600"
        />
        <img
          alt="Ballyrina Flat In Black Leather Image 2"
          id="image2"
          height="400"
          ng-src="{{ product.img2 }}" 
          width="600"
        />
      </div>
      <div class="right-column">
        <h1>{{ product.name }}</h1>
        <div class="price">Rp {{ product.price | number:2 }} IDR</div>
        <p>
           {{ product.description }}
        </p>
        <div class="config-title">Custom Configuration :</div>
        <div class="config-section">
          <label>SHOE LAST:</label>
          <div class="shoe-last-options">
            <div class="shoe-last-option">
              <img
                alt="Structured"
                height="50"
                src="/img/morgan.webp"
                width="50"
                data-description="Structured"
              />
              <div class="description">Structured</div>
            </div>
            <div class="shoe-last-option">
              <img
                alt="Unstructured"
                class="selected"
                height="50"
                src="/img/mark.webp"
                width="50"
                data-description="Unstructured"
              />
              <div class="description">Unstructured</div>
            </div>
          </div>
        </div>
        <div id="shoe-last-preview" class="shoe-last-preview"></div>

        <div class="config-section">
          <label>TOE BOX:</label>
          <div class="toe-box-options">
            <div class="toe-box-option">
              <img
                alt="Structured"
                height="50"
                src="/img/structure.webp"
                width="50"
                data-description="Structured"
              />
              <div class="description">Structured</div>
            </div>
            <div class="toe-box-option">
              <img
                alt="Unstructured"
                class="selected"
                height="50"
                src="/img/unstructure.webp"
                width="50"
                data-description="Unstructured"
              />
              <div class="description">Unstructured</div>
            </div>
          </div>
        </div>
        <div id="toe-box-preview" class="toe-box-preview"></div>
        <div class="config-section">
          <label>SIZE:</label>
          <select>
            <option>Select an option</option>
            <option>40</option>
            <option>41</option>
            <option>42</option>
            <option>43</option>
            <option>44</option>
            <option>45</option>
          </select>
        </div>
        <div class="config-section">
          <label>WIDTH:</label>
          <select>
            <option>Select an option</option>
            <option>D</option>
            <option>E</option>
            <option>EE</option>
          </select>
        </div>
        <div class="config-section">
          <label>UPPER:</label>
          <select name="upper">
            <option>Select an option</option>
            <option>Badalassi Nemesis</option>
            <option>Badalassi Vachetta</option>
            <option>Badalassi Suede</option>
            <option>Badalassi Nubuck</option>
          </select>
          <div class="upper-options"></div> <!-- Container for dynamic options -->
        </div>
        <div ng-if="product.stock == 0">
            <h3>OUT OF STOCK</h3>
        </div>
        <button ng-if="product.stock > 0" id="add-to-cart-button" class="add-to-cart">Add to Cart</button>
      </div>
    </div>
    <!-- Footer Start -->
    <footer class="footer fade-in blur">
        <div class="footer-content">
            <div class="logo">
                <img src="/img/brand-logo.png"/>
            </div>
            <div class="footer-menu">
                <a href="Products/index.html" class="footer-link">Products</a>
                <a href="/Products/indexmale.html" class="footer-link">Male</a>
                <a href="/Products/indexfemale.html" class="footer-link">Female</a>
                <a ng-if="!accountInfo" ng-href="/contact" class="footer-link">Contact</a>
                <a ng-if="accountInfo" ng-href="/contact/{{ accountInfo.id }}" class="footer-link">Contact</a>
            </div>
            <div class="social">
                <div class="social-icon-container">
                    <a href="" target="_blank" class="social-icon"><img src="/img/instagram.png"/></a>    
                </div>
                <div class="social-icon-container">
                    <a href="" target="_blank" class="social-icon"><img src="/img/twitter.png"/></a>    
                </div>
                <div class="social-icon-container">
                    <a href="" target="_blank" class="social-icon"><img src="/img/whatsapp.png"/></a>    
                </div>
            </div>
        </div>
        <div class="copyright">
            Copyright &copy; 2024 SuShoes Co.
        </div>
    </footer>
    <!-- Footer End -->
</div>